
@font-face {
    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 400;
    src: local('Hanuman'), url(../fonts/Hanuman.ttf) format('truetype');
    unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}
@font-face {
    font-family: 'Khmer OS Muol Light';
    font-style: normal;
    font-weight: 400;
    src: local('Khmer OS Muol Light'), url(../fonts/KhmerOS_muollight.ttf) format('truetype');
    unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}