<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<script src="angular.min.js"></script>
<script src="angular-slugify.js"></script>
</head>

<body>

<div ng-app="demo">
    <div ng-controller="ServiceDemoCtrl">
       
       <!--
        <form ng-submit="update(title)">
            <input type="text" ng-model="title">
            <div>
                <button>Update</button>
            </div>
        </form>
        -->
        <input type="text" ng-model="title">
        <a ng-click="update(title)">Update</a>
        
        <p>Slug : {{slug}}</p>
    </div>
</div>
        
        
<script>
    angular.module("demo", ["slugifier"]);

    function ServiceDemoCtrl($scope, Slug) {
        $scope.title = "My First Title";
        $scope.update = function(title) {
            $scope.slug = Slug.slugify(title);
        };
    }

</script>
</body>
</html>