/*
Home Three css
*/

/*
Home one css
*/

h1 span{
    color:#017cc0;
}
h2 span{
    color:#017cc0;
}
h3 span{
    color:#017cc0;
}
p span{
    color:#017cc0;
}


.separator{
    background: #017cc0; 
}
.separatorhome3 {
    background-color: #017cc0;
}
.separatorhome3auto{
    background-color: #017cc0;
}
.blackdividerauto:after {
    background: #017cc0;
}
.btn:hover{
    background: #017cc0;
    color:#fff;
}
.btn-md{
    background: #017cc0;
}

.h22.btn:hover {
    background: #017cc0;
    color: #fff;
}
.h33.btn:hover {
    background: #017cc0;
}
.btn-lg2{
    background: #017cc0 !important;
}
/*.head_top_social .top_socail_icon_area{
    background: #017cc0;
}*/

/*nav .main-nav form:after{
    background: #017cc0;
}*/
.home3_menu .head_top_social .top_socail_icon_area ul li a:hover i {
    color: #017cc0;
}
.main-nav {
    background: #017cc0;
}
.ps_control_gray_lg .carousel-control.left:hover{
    color:#fff;
    background: #017cc0;
}
.ps_control_gray_lg .carousel-control.right:hover{
    color: #fff;
    background: #017cc0;
}

.request_quot_area.request_quot_area_home1 .heading_request{
    background: #017cc0;
}

.main_mission .single_mission.single_mission_1{
    background: #017cc0;
}
.main_chooseus_area .main_choose_content .single_choose_text ul li span.icon{
    color: #017cc0;
}
.home1_main_team_area .single_team .single_team_overlay .team_socail a:hover i{
    color:#fff;
    border:2px solid #017cc0;
    background: #017cc0;
}
.home1_main_team_area .single_team .single_team_text{
    background: #017cc0;
}

.main_testimonial.home1_main_testimonial .carousel_border {
    border: 10px solid #017cc0;
}

.home1_main_mix_menu.main_mix_menu ul li:hover{
    background: #017cc0;
    color:#fff;
}

.home1_main_mix_menu.main_mix_menu ul li.active {
    color:#fff;
    background: #017cc0;
    border: 1px solid #017cc0;
}
.home1_main_blog.blog_post_area .single_blog .single_blog_img .blog_update_date p{
    background:#017cc0; 
}

.home1_main_blog.blog_post_area .single_blog .single_blog_text a span.icon{
    color:#017cc0;
}

.home1_main_blog.blog_post_area .single_blog_text a span.icon.share:hover{
    color:#fa5454;
}

.main_call_us_area.main_call_us_area_home1 .call_us_left_text h2{
    color:#017cc0;
}

.main_contact_info.main_contact_info_home1 .contact_info_content .single_contact_info i{
    background: #017cc0;
    color: #fff;
}

.main_weidget.main_weidget_home1 .single_weidget .wwidget_socail a:hover i{
    color:#fff;
    background:#017cc0;
    border:1px solid #017cc0;
}
.main_weidget.main_weidget_home1 .single_weidget .single_widget_blog:hover a{
    color:#017cc0;
}
.main_weidget.main_weidget_home1 .single_weidget ul li:hover a{
    color:#017cc0;
}
.main_weidget.main_weidget_home1 .single_weidget ul li:hover i{
    color:#017cc0;
}

#breadcrumb{
    background: #017cc0;
}
.main_service .single_service .single_service_text_right h6{
    color:#017cc0;
}

.main_chooseus_area .main_choose_content .single_choose_text ul li span.icon{
    color: #017cc0;
}
.main_chooseus_area .main_choose_content .choose_tabe_menu{
    background: #f7f8f9;
    border: 1px solid #017cc0;
}
.main_chooseus_area .main_choose_content .choose_tabe_menu li.active{
    background: #017cc0;
}

.request_quot_area.request_quot_area_home3 p strong.star_color{
    color:#017cc0;
}

.service_page_home1 .pricing_business .pricing_head .overlay_skew {
    background-color: rgba(2, 120, 186, 0.75);
}
.service_page_home1 .pricing_business .btn-md {
    background: #017cc0;
}
.service_page_home1 .pricing_business .pricing_head .p_r {
    color: #017cc0;
}
.service_page_home1 .pricing_business .pricing_head .pricing_price {
    border: 1px solid #017cc0;
}
.service_page_home1 .pricing_business .pricing_border {
    border-bottom: 5px solid rgba(2, 120, 186, 0.75);
}
.service_page_home1 .single_pricing ul li:hover {
    color: #017cc0;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #fff;
    background-color: #017cc0;
}

.fleetdetails_area .fleetdetails_content_midel .f_d_c_mid_text ul li span.icon{
    color: #017cc0;
    margin-right: 5px;
}

.fleetdetails_area .single_sidebar form input[type='submit'] {
    background: url(../img/serch.png) no-repeat center center #017cc0;
}
.fleetdetails_area .single_sidebar .sidebar_head{
    background: #017cc0;
}
.fleetdetails_area .single_sidebar .sidebar_head:after {
    border-top: 10px solid #017cc0;
}
.fleetdetails_area .single_sidebar .sidebar_head:before {
    border-top: 10px solid #017cc0;
}
.fleetdetails_area .single_sidebar .sidebare_recent_post a{
    color:#017cc0;
}
.fleetdetails_area .single_sidebar .sidebare_recent_post a.admin{
    border-left: 1px solid #017cc0;
}
.fleetdetails_area .single_sidebar .sidebare_post_archrive ul li:after{
    background: #017cc0;
}
.main_blog .single_blog .single_blog_img .blog_update_date p{
    background:#017cc0; 
}
.main_blog .single_blog .single_blog_text a span.icon{
    color:#017cc0;
}
.blog_post_02_area .single_blog_text a.btn-default:hover{
    border:1px solid #017cc0;
    color:#fff;
}

.blog_single_area blockquote a i{
    color:#017cc0;
}
.blog_single_area .single_post_video_text p.pcont:first-letter{
    color:#017cc0;
}
.blog_single_post_video_area ul li span.icon {
    color: #017cc0;
}
.comments_box_area .media-body .media-body-heading-area span a:hover{
    color:#017cc0;
}
.accordion-open span:after {
    background: #017cc0;
    color:#fff;
}
.accordion-close span:after {
    background: #017cc0;
    color:#fff;
}
.faq_default_content .faq_defaul_top_text ol li a.active{
    color:#017cc0;
}
.faq_default_content .faq_default_bottom_text ol li a.active{
    color:#017cc0;
}
.serch_form_area input[type="submit"]{
    background: #017cc0;
    border-color: #017cc0;
    color:#fff;
}



/*=================================
home page tow
=====================================*/
.home2menu.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color:#017cc0;
}

.main_home.main_home2 .request_quot_area .heading_request{
    background: #017cc0;
    color:#fff;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    background: #017cc0;
}
.slider_home2 i{
    color:#fff;
    background: #017cc0;
}

.slider_home2 i.nextprevleft:hover{
    color:#fff;
    background: #017cc0;
}
.slider_home2 i.nextprevright:hover{
    color: #fff;
    background: #017cc0;
}
.main_service.home2_service .single_service .single_service_text_right h6{
    color:#017cc0;
}
.main_mission.home2_main_mission .single_mission.single_mission_1{
    background: #017cc0;
}
.home2_main_pricing_area .pricing_business .pricing_head .overlay_skew{
    background-color:rgba(2, 120, 186, 0.75);
}
.home2_main_pricing_area .pricing_business .pricing_head .pricing_price {
    border: 1px solid #017cc0;
}
.home2_main_pricing_area .pricing_business .pricing_border{
    border-bottom: 5px solid rgba(2, 120, 186, 0.75);
}
.home2_main_pricing_area .pricing_business .pricing_head .p_r{
    color:#017cc0;
}
.home2_main_pricing_area .pricing_business .btn-md{
    background: #017cc0;
}
.home2_main_pricing_area .single_pricing ul li:hover{
    color:#017cc0;
}

.home2_main_team_area .single_team .single_team_overlay .team_socail a:hover i{
    color:#fff;
    border:2px solid #017cc0;
    background: #017cc0;
}

.home2_main_team_area .single_team .single_team_text h6{
    background: #017cc0;
}
.home2_main_team_area.main_team_area i.slick-arrow:hover {
    background: #017cc0;
}

.main_contact_info.main_contact_info_home2 .contact_info_content .single_contact_info span.icon{
    background: #017cc0;
}
.main_weidget.main_weidget_home2 .single_weidget .wwidget_socail a:hover i{
    background:#017cc0;
    border:1px solid #017cc0;
}
.main_weidget.main_weidget_home2 .single_weidget .single_widget_blog:hover a{
    color:#017cc0;
}
.main_weidget.main_weidget_home2 .single_weidget ul li:hover a{
    color:#017cc0;
}
.main_weidget.main_weidget_home2 .single_weidget ul li:hover i{
    color:#017cc0;
}
.fleetportfolio .home1_mix_content .port_overfolio span.caption_icon i.fa:hover{
    border: 1px solid #017cc0;
    color: #fff;
    background-color: #017cc0;
}
.home1_mix_content .port_overfolio span.caption_icon i.fa:hover{
    border: 1px solid #017cc0;
    color: #fff;
    background-color: #017cc0;
}


/*================================
Home Three page
===================================*/
.home3-overlay {
    background-color: rgba(2, 120, 186, 0.85);
}
.dividehr{
    border-top: 1px solid #017cc0;
}

.dividehr:after{
    background: rgba(2, 120, 186, 0.9);

}
.dividevr{
    border-left: 1px solid #017cc0;
    border-left:1px solid #017cc0;
}
.dividevr:before{
    background: #017cc0;
}
.dividevr:after{
    background: #017cc0;
}

/*.home3_menu .main-nav{
    background: #017cc0;
}
.home3_menu .main_nav_area{
    background: #017cc0;
}
nav.home3_menu  .main-nav form:after{
    background: #017cc0;
}*/

.home3_menu .head_top_social .top_socail_icon_area ul li a:hover i{
    color:#017cc9;
}
.home3_menu .attr-nav form:after {
    background: #017cc0;
}
.ps_control_bsquare .carousel-control.left:hover, .ps_control_bsquare .carousel-control.right:hover{
    color: #fff;
    background: #017cc0;
}
.featured_bottom_bg{
    background:#017cc0;
}
.f_s_top_right span{
    color: #017cc0;
}
.single_left_featured .hexagon:before {
    background: #017cc0;
}
.main_chooseus_area.main_chooseus_area_home3 .main_choose_content .single_choose_text ul li span.icon{
    color: #017cc0;
}
.main_chooseus_area.main_chooseus_area_home3 .main_choose_content .choose_tabe_menu{
    border: 1px solid #017cc0;
}
.main_chooseus_area.main_chooseus_area_home3 .main_choose_content .choose_tabe_menu li.active{
    background: #017cc0;
}
.main_chooseus_area.main_chooseus_area_home3 .main_choose_content .single_choose_text a.readmore{
    color:#017cc0;
}
.request_quot_area.request_quot_area_home3 p strong{
    color:#017cc0;
}
.request_quot_area.request_quot_area_home3 input[type='submit']{
    background: #017cc0;
}
.main_portfolio_area_home3 .port_overfolio {
    background: rgba(1, 124, 192, 0.65);
}
.main_portfolio_area_home3 .port_overfolio .s_team_overlay_border {
    border: 1px solid #017cc0;
}
.progress-vertical {
    background-color: #017cc0;
}
.progress-vertical .label {
    color: #017cc0;
}
.main_testimonial_home3 #quote-carousel .carousel-indicators li.active {
    border-color: #017cc0;
}

.main_blog.main_blog_home3 .single_blog .single_blog_text a i{
    color:#017cc0;
}

.main_blog.main_blog_home3 .single_blog .single_blog_text .blog_recent_date{
    background: #017cc0;
}
.main_contact_info.main_contact_info_home3 .contact_info_content .single_contact_info{
    background: #017cc0;
}

.main_contact_info.main_contact_info_home3 .contact_info_content .single_contact_info:hover{
    background: #017cc0;
}
.main_weidget.main_weidget_home3 .single_weidget .wwidget_socail a:hover i{
    color:#fff;
    background:#017cc0;
    border:1px solid #017cc0;
}
.main_weidget.main_weidget_home3 .single_weidget .single_widget_blog a{
    color:#017cc0;
}

.main_chooseus_area .main_choose_content .single_choose_text a.readmore{
    color:#017cc0;
}



@media (max-width: 991px){

    .main_menu_bg.home1_menu {
        background-color: #017cc0 !important;
    }
    .main_menu_bg.home3_menu {
        background-color: #017cc0 !important;
    }
    nav.navbar.home2_menu.bootsnav.navbar-mobile .navbar-collapse{
        background-color: #017cc0;
    }
}



/*
Color
=========================== */
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list > li > h6 > a,
.attr-nav > ul > li > a:hover,
.attr-nav > ul > li > a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on > a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on > a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
/*nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav li.active > a,*/
nav.navbar li.dropdown ul.dropdown-menu > li a:hover{
    color: #fff;
    background-color: #017cc8 !important;
}
.attr-nav > ul > li.search > a:hover, .attr-nav > ul > li.search > a:focus {
    background-color: transparent !important;
}

nav.navbar.navbar-transparent ul.nav > li > a:hover,
nav.navbar.no-background ul.nav > li > a:hover,
nav.navbar ul.nav li.scroll.active > a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu  > li > a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar-dark ul.nav li.dropdown.on > a{
    color: #fff !important;
}

@media(max-width:920px){
    nav.navbar .dropdown .megamenu-content .col-menu ul > li > a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover{
        color: #017cc0 !important;
    }
}

/*
Border
=========================== */
ul.cart-list > li.total > .btn{
    border-color: #017cc0;
}

nav.navbar li.dropdown ul.dropdown-menu{
    border-top-color: #017cc0 !important;
}

/*
Background
=========================== */
ul.cart-list > li.total > .btn,
.attr-nav > ul > li > a span.badge,
nav.navbar .share ul > li > a:hover,
nav.navbar .share ul > li > a:focus{
    background-color: #017cc0;
}

ul.cart-list > li.total > .btn:hover,
ul.cart-list > li.total > .btn:focus{
    background-color: #017cc9 !important;
}
nav.navbar.bootsnav.navbar-mobile .navbar-collapse{
    background: #017cc0;
}
/*nav.navbar.home2_menu.bootsnav.navbar-mobile .navbar-collapse {
    background: transparent;
}*/
nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    background: #017cc0;
}

nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav li.active > a{
    background-color: transparent !important;
}

.home2_menu.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff !important;
    background-color: #017cc9 !important;
}